@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', vardana;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 12px;
    background: #317218;
	border:1px solid white;
   

}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #fffff0;
}

input::placeholder{
    color: #ffffff;
}

button{
    border:1px solid white;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 10%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.equalBtn{
    background-color: #fb7c14;
}

.operator{
    color: #6dee0a;
}